@charset "utf-8";
/* CSS Document */

.topbar{
	background:#900; 
	height:30px;
	
    }
	
.admin{
	color:#900; 
	padding-top:5px;
	padding-left:70px;
	font-weight:bold;
	}	
  
.sidebar{
	background-color:#8c1515; 
	z-index:3;
	
	}
	
 ul > li {
	 border-bottom:#CCC solid 1px;
	 float:none;
	 
	 } 	
	
	
 ul > li > a{
	 color:#FFF;
	 font:Georgia;
	 margin-left:10px;
     font-size:17px;
	 } 
 
.linkbar{
	 background:#CCC; 
	 height:45px;   
	 z-index: -1; 
	 padding-left:39px; 
	 padding-top:10px;  
	 color:#FFF;
	 
	}